.storehouseLayout{
    display: block;
    position: relative;
    background: #fff;
    color: #474747;
    height: 80px;
    width: 80px;
}
  
.photo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
 
.body{
    margin-top: 65px;
}

.storehousePhoto {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
} 

.headerForPhotoColumn{
    margin-left: 27px;
}

.mat-fab-bottom-right{
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
  }
  
.titleCell{
    width:100%; 
    /* или 100пикс но тогда на компе неоч */
}

.menuButton{
    margin-left: 20px;
}

.telegramIcon{
    margin-left: 20px;
}
  
    mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
      padding-left: 0;
    }
  

    mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
        padding-right: 0px;
    }