<mat-table [dataSource]="storehouses" class="mat-elevation-z8">
    <ng-container matColumnDef="imageUrl">
        <mat-header-cell class="headerForPhotoColumn" *matHeaderCellDef> Photo </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div class="storehouseLayout">
                <div class="storehousePhoto">
                    <img *ngIf="element.imageUrl!=null" class="photo" src="{{element.imageUrl}}" alt="">
                    <img *ngIf="element.imageUrl==null" class="photo"
                        src="assets/images/storehouse.png" />
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>
            Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [routerLink]="['/storehouse-edit', row.id]" *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<button [routerLink]="['/storehouse-edit', 0]" class="mat-fab-bottom-right" mat-fab>
    <mat-icon class="icon">add</mat-icon>
</button>
