<div class="body">
    <mat-table [dataSource]="productItems" class="mat-elevation-z8">
      <mat-expansion-panel hideToggle>
      <ng-container matColumnDef="photo">
        <mat-header-cell  *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="productItemPhotoLayout">
            <div class="productItemPhoto">
              <img class="photo"
                src="https://img.icons8.com/ios/452/meal.png" />
            </div>
          </div>
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="amount">
        <mat-header-cell class="amountHeader" *matHeaderCellDef>
          Amount
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div>{{element.amount}} {{ element.productType.unit.shortName}} </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="left">
        <mat-header-cell class="headerLeft"
         *matHeaderCellDef>
          Left
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            
            <div style="position: absolute;margin-bottom:23px;margin-left: 60px;">
              {{getCountLeftProductItem(element)}}
            </div>

            <mat-progress-bar style=" position: relative;width: 140px;" *ngIf="getLeftProductItemForDisplay(element) <= 10;" color="accent" mode="determinate"
              [value]="getLeftProductItemForDisplay(element)">
            </mat-progress-bar>
                
            <mat-progress-bar  style=" position: relative;width: 140px;" *ngIf="getLeftProductItemForDisplay(element) > 10 && getLeftProductItemForDisplay(element) <=80" color="primary"
              mode="determinate" [value]="getLeftProductItemForDisplay(element)">
            </mat-progress-bar>      
          
            <mat-progress-bar style=" position: relative;width: 140px;"  color="warn" *ngIf="getLeftProductItemForDisplay(element) > 80" mode="determinate"
              [value]="getLeftProductItemForDisplay(element)">
            </mat-progress-bar>
             
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="additionalInfo">
        <mat-header-cell *matHeaderCellDef>    
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          
        </mat-cell>
        </ng-container>
      </mat-expansion-panel>
      <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>


      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-table>
    <button [routerLink]="['/product-item-edit', 0]" class="mat-fab-bottom-right" mat-fab>
      <mat-icon class="icon">add</mat-icon>
    </button>
    </div>