<div class="body">
    <mat-table [dataSource]="productItems" class="mat-elevation-z8">
      <ng-container matColumnDef="photo">
        <mat-header-cell  *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="productItemPhotoLayout">
            <div class="productItemPhoto">
              <img class="photo"
                src="https://img.icons8.com/ios/452/meal.png" />
            </div>
          </div>
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="amount">
        <mat-header-cell class="amountHeader" *matHeaderCellDef>
          Amount
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div>{{element.amount}} {{ element.productType.unit.shortName}} </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="left">
        <mat-header-cell class="headerLeft"
         *matHeaderCellDef>
          Left
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            
            <div style="position: absolute;margin-bottom:23px;margin-left: 60px;">
              {{getCountLeftProductItem(element)}}
            </div>

            <mat-progress-bar style=" position: relative;width: 140px;" *ngIf="getLeftProductItemForDisplay(element) <= 10;" color="accent" mode="determinate"
              [value]="getLeftProductItemForDisplay(element)">
            </mat-progress-bar>
                
            <mat-progress-bar  style=" position: relative;width: 140px;" *ngIf="getLeftProductItemForDisplay(element) > 10 && getLeftProductItemForDisplay(element) <=80" color="primary"
              mode="determinate" [value]="getLeftProductItemForDisplay(element)">
            </mat-progress-bar>      
          
            <mat-progress-bar style=" position: relative;width: 140px;"  color="warn" *ngIf="getLeftProductItemForDisplay(element) > 80" mode="determinate"
              [value]="getLeftProductItemForDisplay(element)">
            </mat-progress-bar>
             
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="additionalInfo">
        <mat-header-cell *matHeaderCellDef>
      
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            </mat-expansion-panel-header>

            
            <div style="position: relative;display: inline-block; border-radius: 50%;width: 29px;height: 29px;"> 
              <div style="margin-left: 6px;position: absolute;margin-top:5px; color: white;">
                <div class="example-button-container">
                  <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                    <<
                  </button>
                </div>
              </div>
            </div>

            <div style="position: relative;display: inline-block; border-radius: 50%;width: 29px;height: 29px;margin-right: 35px;margin-left: 11px;"> 
              <div style="margin-left: 11px;position: absolute;margin-top: 5px; color: white;">
                <div class="example-button-container">
                  <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                    <
                  </button>
                </div>
              </div>
            </div>

            <mat-form-field style="display: inline-block;width:100px;">
              <input matInput [(ngModel)]="amountToTake">
            </mat-form-field>

            <div style="position: relative;;display: inline-block; border-radius: 50%;  width: 29px;height: 29px;margin-right: 19px;"> 
              <div style="margin-left: 11px;position: absolute;margin-top: 5px; color: white;">
                <div class="example-button-container">
                  <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                    >
                  </button>
                </div>
              </div>
            </div>

            <div style="position: relative;display: inline-block; border-radius: 50%;width: 29px;height: 29px;"> 
              <div style="margin-left: 8px;position: absolute;margin-top: 5px; color: white;">
                <div class="example-button-container">
                  <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                    >>
                  </button>
                </div>
              </div>
            </div>
            
            <button mat-flat-button color="primary" class="submitButton" type="submit" mat-raised-button>
              Save
            </button>

            <mat-icon style="display:block" [routerLink]="['/product-item-edit', element.id]">edit</mat-icon>

            <mat-icon (click)="delete(element.id)" >delete_forever</mat-icon>

            <mat-icon>add_shopping_cart</mat-icon>

            <mat-icon>all_out</mat-icon>

          </mat-expansion-panel>
        </mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
       
      </mat-row>
    </mat-table>
    <button [routerLink]="['/product-item-edit', 0]" class="mat-fab-bottom-right" mat-fab>
      <mat-icon class="icon">add</mat-icon>
    </button>
    </div>