<mat-table [dataSource]="dataSources" class="mat-elevation-z8">
  <ng-container matColumnDef="imageUrl">
    <mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="productTypePhoto">
        <img *ngIf="element.imageUrl!=null" class="img" src="{{element.imageUrl}}" alt="">
        <img *ngIf="element.imageUrl==null" src="https://img.icons8.com/color/96/000000/grocery-bag.png" />
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="expirationTerm">
    <mat-header-cell *matHeaderCellDef> Expiration term </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div style="width:250px;">{{element.expirationTerm}}</div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row  [routerLink]="['/product-type-edit', row.id]" *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>