.prodycTypeLayout{
  margin-left: 2%;
  display: block;
    position: relative;
    background: #fff;
    color: #474747;
    height: 80px;
    width: 80px;
}

.photo{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.productTypePhoto{
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  } 

.expirationTermColumn{
  width:250px;
  margin-left: 40px;
}

.headerForPhotoColumn{
  margin-left: 35px;
}

.mainDiv{
  position: relative;
}

.mat-fab-bottom-right{
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}