<div class="storehouseLayout">
  <div class="storehousePhoto">
    <img *ngIf="storehouse!=null && storehouse.imageUrl!=null" class="photo" src="{{storehouse.imageUrl}}">
    <img *ngIf="storehouse==null || storehouse.imageUrl==null" class="photo" src="assets/images/storehouse.png" />
  </div>
</div>
<form class="example-container" class="properties" [formGroup]="storehouseForm" (ngSubmit)="onSubmit()">
  <div class="fileUpload">
    <button mat-button color="primary" type="button" (click)="fileInput.click()">
      <span *ngIf="fileToUpload!=null">Select another image</span>
      <span *ngIf="fileToUpload==null">Select image</span>
      <input #fileInput type="file" style="display:none;" id="file" [disabled]="storehouse.isAuthor == false"
        (change)="handleFileInput($event.target.files)">
    </button>
  </div>
  <mat-form-field class="input">
    <input matInput placeholder="Title" id="title" formControlName="title">
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput placeholder="password" formControlName="password">
  </mat-form-field>

  <div *ngIf="storehouse.isLocked == true;" class="lockInfo">
    <mat-icon  (click)="setIsLocked()" class="icon">lock</mat-icon>
    <p>Storehouse is locked</p>
  </div>
  <div *ngIf="storehouse.isLocked == false;" class="lockInfo">
    <mat-icon class="icon"  (click)="setIsLocked()">lock_open</mat-icon>
    <p>Anybody with password can join this storehouse</p>
  </div>

  <div style="display: inline-flex;">
    <input class="colorInput" matInput type="color" formControlName="colorHex" name="bg" value="#ff0000">
    <p>Select storehouse color</p>
  </div>
  
  <div class="buttons">
    <button [disabled]="storehouseForm.invalid" *ngIf="storehouse.isAuthor == true || id==0" mat-flat-button
      color="primary" class="for-button submitButton" type="submit" mat-raised-button>Save</button>
    <button *ngIf="id!=0 && storehouse.isAuthor == true" mat-flat-button color="warn" class="for-button deleteButton"
      type="button" (click)="delete()" mat-raised-button>Delete</button>
  </div>
</form>