<mat-toolbar class="position-fixed" style="overflow-x: scroll;overflow-y: hidden;" color="primary"
 [ngStyle]="{'background': getColor()}">

    <div fxHide.gt-xs  style="color: white;">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    
        <mat-tab-group *ngIf="isNeedStorehouses() == true" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            
            <mat-tab class="label" *ngFor="let item of storehouseService.storehouses" >
                <ng-template mat-tab-label>
                    <span (click)="setCurrentStorehouseColor(item.title)" class="mat-tab-label">{{item.title}}</span>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
  
<!-- 
    <nav mat-tab-nav-bar style="overflow-x: scroll;" >
        <a mat-tab-link *ngFor="let link of storehouseService.storehouses"
           (click)="activeLink = link"
           [active]="activeLink == link"> {{link}} </a>
        <a mat-tab-link disabled>Disabled Link</a>
      </nav>   -->

    <!-- <div>
        <a routerLink="/home">Owner-Account</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/owner">Owner Actions</a>
            </li>
            <li>
                <a routerLink="/account">Account Actions</a>
            </li>
        </ul>
    </div> -->
</mat-toolbar>