a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}

.position-fixed{
    position: fixed;
    z-index: 999;
  }
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.mat-tab-label-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    overflow-x: scroll !important;
}

p {
    font-family: Lato;
  }
  
  ::ng-deep .mat-tab-header-pagination {
      display: none !important;
  }

  .test{
    overflow-x: auto
  }