@font-face {
    font-family: 'Merriweather-Bold';
    src: url(/assets/fonts/Merriweather-Bold.ttf) format("truetype");
    font-weight:300;
  }


a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}

.header{
    position: fixed;
    z-index: 999;
    overflow-x: scroll;
    overflow-y: hidden;
  }
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.mat-tab-label-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    overflow-x: scroll !important;
}

p {
    font-family: Lato;
  }
  
  ::ng-deep .mat-tab-header-pagination {
      display: none !important;
  }

  .label{
    width: 250px;
    margin-left: 280px;
  }

  .mat-tab-label {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-left: 30px;
    width: 240px;
    position: relative;
    color:white;
    font-family: 'Merriweather-Bold', sans-serif;
    font-size: medium;
}