<form class="form"  [formGroup]="productItemForm"
  (ngSubmit)="onSubmit()">

  <div class="selectLabel" *ngIf="productTypeService.selectedProductTypeForCreateProductItem == null && id == 0"
    (click)="selectProductType()">
     Select Product Type
  </div>
  <div class="selectLabel" (click)="selectProductType()"
    *ngIf="productTypeService.selectedProductTypeForCreateProductItem != null && id == 0">
    Product Type: {{productTypeService.selectedProductTypeForCreateProductItem.name}}
  </div>
  <div class="selectLabel"
    *ngIf="id != 0">
    Product Type: {{productItem.productType.name}}
  </div>

  <div class="selectLabel" *ngIf="storehouseService.selectedStorehouseForCreateProductItem == null && id == 0"
    (click)="selectStorehouse()">
    Select Storehouse
  </div>

  <div class="selectLabel" (click)="selectStorehouse()"
    *ngIf="storehouseService.selectedStorehouseForCreateProductItem != null && id == 0">
    Storehouse: {{storehouseService.selectedStorehouseForCreateProductItem.title}}
  </div>

  <div *ngIf="id != 0" class="selectLabel">
    <div  (click)="selectStorehouse()" *ngIf="storehouseService.selectedStorehouseForCreateProductItem == null">
      Storehouse: {{storehouseService.selectedStorehouseInPanel.title}}
    </div>
    <div  (click)="selectStorehouse()" *ngIf="storehouseService.selectedStorehouseForCreateProductItem != null">
      Storehouse: {{storehouseService.selectedStorehouseForCreateProductItem.title}}
    </div>
  </div>

  <mat-form-field class="input">
    <mat-label>Manufacture Date</mat-label>
    <input formControlName="manufactureDate" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Purchase Date</mat-label>
    <input formControlName="purchaseDate" matInput [matDatepicker]="picker1">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  
  <mat-radio-group formControlName="isOpened" style="margin-left: 40px;margin-top: 10px;">
  
    <mat-radio-button value="true">Unpacked</mat-radio-button>
    <mat-radio-button value="false">Packed</mat-radio-button>
  
  </mat-radio-group>

  <mat-form-field class="input">
    <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
  </mat-form-field>


  <mat-form-field class="input">

    <div style="position: absolute;margin-left: 73%" *ngIf="productTypeService.selectedProductTypeForCreateProductItem != null" >
      {{productTypeService.selectedProductTypeForCreateProductItem.unit.name}} 
    </div>

    <div style="position: absolute;margin-left: 73%" *ngIf="productItem != null" >
      {{productItem.productType.unit.name}} 
    </div>

    <input matInput type="number" placeholder="Amount" formControlName="amount">

  </mat-form-field>

  <div class="buttons">
    <button *ngIf="id == 0" [disabled]="productItemForm.invalid || 
    productTypeService.selectedProductTypeForCreateProductItem == null ||
    storehouseService.selectedStorehouseForCreateProductItem == null" mat-flat-button color="primary" class="for-button submitButton"
      type="submit" mat-raised-button>Save</button>
      
      <button *ngIf="id != 0" [disabled]="productItemForm.invalid" mat-flat-button color="primary" class="for-button submitButton"
        type="submit" mat-raised-button>Save</button>
  </div>
</form>