.selectLabel{
width: 250px;
margin-top: 15px;
}

.storehousePhoto{
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  } 

.form{
  margin-top: 85px;
  margin-left: 2%;
  display: flex;flex-flow: column wrap;
}

.submitButton{
  width: 120px;
}

.deleteButton{
  margin-left: 60px;
  width: 120px;
}

.storehouseLayout{
  margin-left: 25px;
  margin-top: 85px;
  display: block;
    border: 1px solid #b5e9a7;
    border-radius: 3px;
    position: relative;
    background: #fff;
    color: #474747;
    height: 250px;
    width: 250px;
}

.input{
  margin-top: 7px;
  width: 300px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 30px;
}

.buttons{
  margin-top: 20px;
  display: inline-flex;
}

.colorInput{
  width: 60px;
  height: 26px;
  margin-top:13px;
  margin-left:3px;
}



