<p>sidenav-list works!</p>
<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>chrome_reader_mode</mat-icon> <span class="nav-caption">My Products</span>
    </a>
    <a mat-list-item routerLink="/product-type-list" (click)="onSidenavClose()">
        <mat-icon>local_offer</mat-icon> <span class="nav-caption">Product Types</span>   
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Storehouses</span>
    </a>
  </mat-nav-list>