<mat-nav-list >
    <a mat-list-item routerLink="/product-item-list" (click)="onSidenavClose()">
        <mat-icon>chrome_reader_mode</mat-icon> <span class="nav-caption">My Products</span>
    </a>
    <a mat-list-item routerLink="/product-type-list/false" (click)="onSidenavClose()">
        <mat-icon>local_offer</mat-icon> <span class="nav-caption">Product Types</span>   
    </a>
    <a mat-list-item routerLink="/storehouse-list/false" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Storehouses</span>
    </a>
    <a mat-list-item routerLink="/storehouse-join" (click)="onSidenavClose()">
        <mat-icon>cloud_download</mat-icon><span class="nav-caption">Join to Storehouse</span>
    </a>
    <a mat-list-item routerLink="/logout" (click)="onLogoutClick()">
        <mat-icon>power_settings_new</mat-icon> <span class="nav-caption">Log Out</span>
    </a>
</mat-nav-list>