.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 45%;
    top: 20%;
    left: 50%;
    text-align: center;
    margin-top: 10%;
    margin-left: 3%;
  }

  .for-button  {
    width: 20%;
    top: 20%;
    left: 145%;
    text-align: center;
    margin-top: 10%;
  }
  
  .example-right-align {
    text-align:center;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }