.img{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.productTypePhoto{
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  } 

.properties{
  margin-top: 2%;
  margin-left: 2%;
  display: flex;flex-flow: column wrap;
  width: 20%;
}

.submitButton{
  width: 120px;
}

.deleteButton{
  margin-left: 60px;
  width: 120px;
}

.prodycTypeLayout{
  display: block;
    border: 1px solid #b5e9a7;
    border-radius: 3px;
    position: relative;
    background: #fff;
    color: #474747;
    height: 250px;
    width: 250px;
}