<div class="prodycTypeLayout">
  <div class="productTypePhoto">
    <img *ngIf="productType.imageUrl!=null" class="photo" src="{{productType.imageUrl}}" alt="">
    <img *ngIf="productType.imageUrl==null" class="photo" src="https://img.icons8.com/color/96/000000/grocery-bag.png" />
  </div>
</div>
<form class="example-container" class="properties" [formGroup]="productTypeForm" (ngSubmit)="onSubmit()">
  <div class="fileUpload">
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
  </div>
  <mat-form-field>
    <textarea matInput placeholder="Title" formControlName="name"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea readonly matInput placeholder="Unit" formControlName="unitName"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Expiration term" formControlName="expirationTerm"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Opened expiration term" formControlName="openedExpirationTerm"></textarea>
  </mat-form-field>
  <div class="buttons">
    <button class="for-button submitButton" type="submit" mat-raised-button>Save</button>
    <button class="for-button deleteButton" type="button" (click)="delete()" mat-raised-button>Delete</button>
  </div>
</form>