<div class="prodycTypeLayout">
  <div class="productTypePhoto">
    <img *ngIf="productType!=null && productType.imageUrl!=null" class="photo" src="{{productType.imageUrl}}">
    <img *ngIf="productType==null || productType.imageUrl==null" class="photo" src="assets/images/grocery-bag.png"/>
  </div>
</div>
<form class="example-container" class="properties" [formGroup]="productTypeForm" (ngSubmit)="onSubmit()">
  <div class="fileUpload">
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
  </div>
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>
  <!-- <mat-form-field>
    <input readonly matInput placeholder="Unit" formControlName="unitName">
  </mat-form-field> -->
  <mat-form-field appearance="fill">
    <mat-label>Units</mat-label>
    <mat-select>
      <mat-option *ngFor="let unit of unitService.units" [value]="unit.name">
        {{unit.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Expiration term" formControlName="expirationTerm">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Opened expiration term" formControlName="openedExpirationTerm">
  </mat-form-field>
  <div class="buttons">
    <button class="for-button submitButton" type="submit" mat-raised-button>Save</button>
    <button class="for-button deleteButton" type="button" (click)="delete()" mat-raised-button>Delete</button>
  </div>
</form>